<div class="task-wrapper">

    <div class="container">

        <div class="task-list">

            <a [routerLink]="[task.id]" *ngFor="let task of task">
                <app-task-card [task]="notaskte"></app-task-card>
            </a>
            
        </div>

        <div class="btns-container btns-centered">
            <a routerLink="add" class="btn add-btn">
                <i class="material-icons-outlined">add</i>
                Add
            </a>
        </div>
        
    </div>
    
</div>